{% extends 'base.html.twig' %}
{% block title %}test{% endblock %}
{% block body %}

 <form  method="get" id="form">
 <input type="checkbox" id='1' name="1">
    <input type="submit" class="btn btn-danger delete"  id="submitAutre" value="Oui">
    </form>
</div>
{% endblock %}